<header>
  <nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary mx-md-5 mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/" >
            <img src="/images/Logo.png" width="50" height="50" alt="" loading="lazy" style="
                vertical-align: top;
            ">
            <div class="align-baseline px-2 d-none d-sm-block"><span class="h5 text-uppercase">JAVAFEST'25</span></div>
        </a>
        <a href="/cfp" class="cfp-button  d-md-none btn btn-secondary">Submit Talk</a>
        <a href="/register" class="register-button  d-md-none btn btn-primary">Register</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/sessions">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/speakers">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/organisers">Organisers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="cta-buttons">
      <a href="/cfp" class="cfp-button btn btn-secondary">Submit Talk</a>
      <a href="/register" class="register-button btn btn-primary">Register</a>
    </div>

    <!-- <a href="/register" class="register-button d-none d-md-block px-2 btn btn-primary position-absolute" style="right: 84px;">Register</a> -->
  </nav>
</header>

