<header class="mb-auto">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex">
      <div class="logo">
        <a class="navbar-brand d-flex align-items-center" href="/" style="
            width: 200px;
        ">
          <img src="/images/Logo.png" width="60" height="60" alt="" loading="lazy" style="
              vertical-align: top;
          ">
          <div style="
              display: inline-block;
          "><span class="h4 text-uppercase">JavaFest</span></div>
        </a>

      </div>
      <!-- <div class="nav-links"> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/speakers">Speakers</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Intiatives
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/re-session">Re-Session</a>
              <a class="dropdown-item" href="/start-up">Startup</a>
              <a class="dropdown-item" href="/architects-bof">Birds of a Feather</a>
              <a class="dropdown-item" href="/student-synergy">Student Synergy</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/cfp">Call for papers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/register">Register</a>
          </li>
        </ul>
      </div>

      <!-- </div> -->





    </div>
  </nav>



</header>

