{{ define "main" }}

<main>
    <div class="bd-masthead mb-3" id="content">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center">
      <h1>JAVAFEST'23</h1>
      <h2 class="mb-3">Unite for Innovation: Join Industry and Academia at JavaFest TechConverge</h2>
      <p class="lead mb-4">
        Community Driven Conference for Java where industry and academic professionals come together to share their expertise and insights on the latest developments in Java. 
    </p>
    <figure class="text-center">
        <blockquote class="blockquote">
          <p>Infosys Bangalore</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          on <cite title="Source Title">July 10 2023</cite>
        </figcaption>
      </figure>
      <a href="/docs/5.3/getting-started/introduction/" class="btn btn-lg btn-primary d-flex align-items-center justify-content-center fw-semibold" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">
          Register
      </a>
    </div>
  </div>
</div>


  </main>
{{ end }}
