{{ define "main" }}

<main>
  <div class="bd-masthead mb-3" id="content">
    <div class="container-xxl bd-gutter">
      <div class="col-md-8 mx-auto text-center">
        <img src="{{ "/images/Logo.png" | relURL }}" width="200" height="200" alt="" loading="lazy">
        <h1>JAVAFEST'24</h1>
        <h2 class="mb-3">Unite for Innovation: Where Java Enthusiasts Converge</h2>
        <p class="lead mb-4">
          A community-driven conference bringing together passionate developers to share their expertise, insights, and
          the latest innovations shaping the future of Java.
        </p>

        <figure class="text-center text-primary">
          <blockquote class="blockquote h2">
            Infosys<small>, Bengaluru, India</small>
          </blockquote>
          <figcaption class="blockquote-footer text-success">
            on <cite title="Source Title" class="h4">23 November 2024</cite>
          </figcaption>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62234.168168529366!2d77.58834417271859!3d12.866802479805212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae135aeb7f340f%3A0x11406271cbac49c8!2sInfosys%20Limited!5e0!3m2!1sen!2sin!4v1729253538676!5m2!1sen!2sin"
            width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </figure>


      </div>
      <br />
      <div class="col-md-8 mx-auto text-center">
        <h4 class="fw-semibold">Proudly Supported By</h4>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-4 mt-4">
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img"
            href="/docs/5.3/getting-started/webpack">
            <img class="d-block mb-2" src="/images/JUG_logo.svg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">BangaloreJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/delhi_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">DelhiJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/mumbai_jug.png" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">MumbaiJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/kerala_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">KeralaJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/tamil-jug_logo.jpeg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">TamilJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/hyd_jug.png" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">HyderabadJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/nagpur_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">NagpurJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img">
            <img class="d-block mb-2" src="/images/jug-guj-logo.svg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">GujaratJUG</span>
          </span>
        </div>
      </div>
      <br />

      <div class="col-md-8 mx-auto text-center">
        <h4 class="fw-semibold">Sponsors</h4>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-4 mt-4">
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img"
            href="https://developers.google.com/">
            <a href="https://developers.google.com" target="_blank"><img class="d-block mb-2"
                src="/images/GoogleForDevelopers_logo.png" alt="" loading="lazy" width="250" height="50"></a>
            <!-- <span class="text-body-secondary">Google</span> -->
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img"
            href="https://www.infosys.com/">
            <a href="https://www.infosys.com/" target="_blank"><img class="d-block mb-2" src="/images/infosys_logo.jpeg"
                alt="" loading="lazy" width="250" height="60"></a>
            <!-- <span class="text-body-secondary">Google</span> -->
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>


</main>
{{ end }}