{{ define "main" }}

<main>
    <div class="bd-masthead mb-3" id="content">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center">
      <img src="{{ "/images/Logo.png" | relURL }}" width="200" height="200" alt="" loading="lazy">
      <h1>JAVAFEST'24</h1>
      <h2 class="mb-3">Unite for Innovation: Join Industry and Academia at JavaFest TechConverge</h2>
      <p class="lead mb-4">
        Community Driven Conference for Java where industry and academic professionals come together to share their expertise and insights on the latest developments in Java. 
    </p>

    <figure class="text-center">
      <blockquote class="blockquote">
        Infosys<small>, Bengaluru, India</small>
      </blockquote>
      <figcaption class="blockquote-footer">
        on <cite title="Source Title">23 November 2024</cite>
      </figcaption>
    </figure>
      
   
      </div>
      <div class="col-md-8 mx-auto text-center">
        <h4 class="fw-semibold">Proudly Supported By</h4>
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-4 mt-4">
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" href="/docs/5.3/getting-started/webpack">
            <img class="d-block mb-2" src="/images/JUG_logo.svg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">BangaloreJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/delhi_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">DelhiJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/mumbai_jug.png" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">MumbaiJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/kerala_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">KeralaJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/tamil-jug_logo.jpeg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">TamilJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/hyd_jug.png" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">HyderabadJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/nagpur_jug.jpg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">NagpurJUG</span>
          </span>
          <span class="d-flex flex-column align-items-center text-decoration-none animate-img" >
            <img class="d-block mb-2" src="/images/jug-guj-logo.svg" alt="" loading="lazy" width="72" height="72">
            <span class="text-body-secondary">GujaratJUG</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


  </main>
{{ end }}
