{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<div class="container mt-3">
	<div class="row">

		{{ range .Pages }}

		<div class="col-6 col-lg-3 mb-4">
			<div class="card border-0 ">
				<a class="text-decoration-none" href="/speakers/{{.File.BaseFileName}}">
					{{ if .Params.profilePicture }}
						<img src="{{ .Params.profilePicture }}" class="card-img-top rounded-circle speaker-img" alt="Profile picture of {{ .Title }}">
					{{ else }}
						<img src="https://github.com/{{.File.BaseFileName}}.png" class="card-img-top rounded-circle speaker-img" alt="Profile picture of {{ .Title }}">
					{{ end }}
				</a>
				<div class="card-body text-black">
					<a class="text-decoration-none" href="/speakers/{{.File.BaseFileName}}">
						<h5 class="d-none d-md-block card-title mb-2 text-black fw-bold text-center text-break break-all">{{ .Title }}</h5>
						<h6 class="d-block d-md-none card-title mb-2 text-black fw-bold text-center text-break break-all">{{ .Title }}</h5>
						<div class="card-text text-center">
							{{ with .Params.jobTitle }}
							  <p class="speaker-job-title">{{ . }}</p>
							{{ end }}
							{{ with .Params.company }}
							  <p class="text-muted small">{{ . }}</p>
							{{ end }}
						</div><!--//card-text-->
					</a>
				<div class="text-center">
					<a href="{{ .Params.linkedin }}" target="_blank" aria-label="LinkedIn" class="btn btn-link p-0 d-inline-block">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="currentColor"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966 0-1.75-.792-1.75-1.764s.784-1.764 1.75-1.764 1.75.792 1.75 1.764-.783 1.764-1.75 1.764zm13.5 11.268h-3v-5.604c0-1.337-.027-3.059-1.865-3.059-1.867 0-2.154 1.459-2.154 2.967v5.696h-3v-10h2.881v1.367h.041c.401-.759 1.379-1.56 2.839-1.56 3.038 0 3.358 2.001 3.358 4.604v5.589z"/></svg>
					</a>
				</div>
			</div><!--//card-->
			</div><!--//card-->
		</div>

		{{ end }}

	</div>
</div>
{{ end }}
