

{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="container-fluid">

  <div class="row">
    <h3>{{- .Title -}}</h3>
    
<article class="col-lg-12">
  {{- .Content -}}
</article>
</div>

<h4>Sessions</h4>
<ul>
  {{ $username := .File.BaseFileName  }}
{{ range (where .Site.Pages "Section" "sessions") }}
   {{ range .Pages }}

   {{ if in .Params.speakers $username }}
   <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
   {{ end }}


      
   {{ end }}
{{ end }}

</ul>
</div>
{{ end }}



